@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
/* for smooth transition when I click ACCEPT AND BEGIN BUTTON */
*{
  font-family: "Poppins", sans-serif;
}

span{
  font-family: inherit;
  font-weight: inherit;
}

.blueShadow{
  box-shadow: 3px 3px 0 0 #fa9e60;
}

.blueShadow:hover{
  transform: translate(-10px -10px);
  box-shadow: 6px 6px 0 0 #fab760;
}

